.card_news {
    width: 50%;
    height: 10%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 8px;
    
}

.card_img_title {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.card_img_creator {
    display: flex;
    flex-direction: column;
}

.h1 {
    font-size: 1.4em;
}
