.card_news {
    width: 45%;
    height: 10%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: solid 1px;
    border-color: lightgray;
    border-radius: 16px;
}

.card_img_title {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.card_img {
    border-radius: 8px;
}

.card_img_creator {
    display: flex;
    flex-direction: column;
}

.h1 {
    font-size: 1.4em;
}
